network.json
[{"id":"5c530ae1.da2e1c","type":"tab","label":"Network","disabled":false,"info":"contains nodes for local network reconnaissance"},{"id":"919f3b95.9359f8","type":"ui_button","z":"5c530ae1.da2e1c","name":"Ping","group":"6eaf2e4.74faa5","order":0,"width":0,"height":0,"passthru":true,"label":"Ping","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":570,"y":240,"wires":[["bffe879c.67d8c","76c43b1d.86294c"]]},{"id":"bffe879c.67d8c","type":"ping","z":"5c530ae1.da2e1c","protocol":"IPv4","mode":"triggered","name":"Google","host":"google.com","timer":"20","inputs":1,"x":770,"y":180,"wires":[["aa4efc0f.08d96"]]},{"id":"aa4efc0f.08d96","type":"ui_gauge","z":"5c530ae1.da2e1c","name":"Time","group":"6eaf2e4.74faa5","order":2,"width":"6","height":"6","gtype":"donut","title":"Google","label":"ms","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"80","className":"","x":930,"y":180,"wires":[]},{"id":"7fceb81d.63b2d","type":"speedtest","z":"5c530ae1.da2e1c","name":"SpeedTest","maxTime":5000,"x":590,"y":540,"wires":[["855c68f9.555378","b50e64e4.a37b58","a585c3cb.563de"]]},{"id":"855c68f9.555378","type":"ui_gauge","z":"5c530ae1.da2e1c","name":"","group":"599c623c.d9691c","order":0,"width":"6","height":"6","gtype":"donut","title":"Download (10 Mbps)","label":"Mbps","format":"{{msg.payload.speeds.download}}","min":0,"max":"10","colors":["#e6e600","#e6e600","#e6e600"],"seg1":"","seg2":"","className":"","x":900,"y":460,"wires":[]},{"id":"12d37438.172fdc","type":"ui_button","z":"5c530ae1.da2e1c","name":"","group":"599c623c.d9691c","order":3,"width":0,"height":0,"passthru":false,"label":"Speed Test","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":540,"wires":[["7fceb81d.63b2d"]]},{"id":"495dbef6.543138","type":"ui_gauge","z":"5c530ae1.da2e1c","name":"","group":"599c623c.d9691c","order":1,"width":"6","height":"6","gtype":"donut","title":"Upload (1 Mbps)","label":"Mbps","format":"{{msg.payload.speeds.upload}}","min":0,"max":"1","colors":["#e6e600","#e6e600","#e6e600"],"seg1":"","seg2":"","className":"","x":1090,"y":540,"wires":[]},{"id":"b50e64e4.a37b58","type":"function","z":"5c530ae1.da2e1c","name":"Upload x10","func":"msg.payload.speeds.uploadBase10 = msg.payload.speeds.upload * 10;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":540,"wires":[["495dbef6.543138"]]},{"id":"a585c3cb.563de","type":"debug","z":"5c530ae1.da2e1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":620,"wires":[]},{"id":"673f97e3.8667f","type":"ui_template","z":"5c530ae1.da2e1c","group":"12812d7a.ff80d3","name":"Dashboard Theme : Modern Dark","order":2,"width":0,"height":0,"format":"<div>\n    <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            --background: #212529;\n            --on-background: white;\n            --surface: #2d3136;\n            --on-surface: white;\n            --primary: var(--nr-dashboard-widgetColor);\n            --on-primary: white;\n            --secondary: var(--nr-dashboard-groupTextColor);\n            --accent: red;\n            --radius-s: 8px;\n            --font-weight-m: 300;\n            --font-weight-m: 500;\n            --font-weight-l: 700;\n            --space-s: 8px;\n            --space-m: 16px;\n            --space-l: 32px;\n        }\n\n        body.nr-dashboard-theme {\n            background-color: var(--background);\n            font-family: 'Montserrat', sans-serif;\n        }\n        .nr-dashboard-theme .nr-dashboard-gauge text {\n            fill: #ffffff;\n            margin: 8px;\n        }\n        .nr-dashboard-theme .nr-dashboard-textinput input{\n            color: #ffffff;\n        }\n        .nr-dashboard-theme ui-card-panel {\n            background-color: var(--background);\n            border: 0;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button {\n            background-color: var(--primary);\n            border-radius: var(--radius-s);\n            padding: 8px !important;\n            line-height: inherit;\n            font-weight: var(--font-weight-l);\n            color: var(--on-primary);\n        }\n        .nr-dashboard-theme [ui-card-size=\"2x2\"].nr-dashboard-button .md-button {\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            align-items: center;\n            white-space: pre-line;\n        }\n        \n        .nr-dashboard-theme .nr-dashboard-button .md-button ui-icon {\n                margin-bottom: 8px;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n            background-color: var(--secondary);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            background-color: var(--surface);\n        }\n        md-card.md-default-theme, md-card {\n            border-radius: var(--radius-s);\n        }\n        .nr-dashboard-theme .nr-dashboard-gauge-titlel {\n            font-weight: var(--font-weight-l) !important;      \n        }\n        .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n            font-weight: var(--font-weight-l);  \n            text-transform: capitalize;\n            color: var(--on-background);\n        }\n        .nr-dashboard-cardpanel > p {\n            margin-left: 0;\n            padding-left: 16px;\n        }\n        body.nr-dashboard-theme md-toolbar {\n            background-color: var(--surface);\n        }\n        .md-default-theme .md-datepicker-calendar, .md-datepicker-calendar,\n        .md-default-theme .md-calendar, .md-calendar{\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .md-default-theme .md-datepicker-calendar-pane, .md-datepicker-calendar-pane{\n            border: 0;\n        }\n        .md-default-theme .md-calendar-month-label md-icon, .md-calendar-month-label md-icon, .md-default-theme .md-datepicker-input, .md-datepicker-input {\n            color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-numeric .value {\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker md-input-container .md-input {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker .md-datepicker-triangle-button .md-datepicker-expand-triangle {\n            border-top-color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-sidenav {\n            background-color: var(--surface);\n        }\n        md-list-item._md-button-wrap > div.md-button:first-child, md-list-item .md-list-item-inner {\n            background-color: var(--surface);\n        }\n    </style>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","className":"","x":1240,"y":40,"wires":[[]],"icon":"node-red-dashboard/ui_colour_picker.png","info":"# Modern Dark Theme for node-red-dashboard\n\nInspired by Victor Lucachi with his [Node Red Dashboard Concept](https://dribbble.com/shots/10356530-Node-Red-Dashboard-Concept) on Dribbble. Thank you for your work.\n\n## Customize\n\n1. Go on dashboard customisation tab (At the right of Debug Console).\n2. Select the style `Dark`.\n3. Pick the color you want. Example `#66B5F8`\n\n## Buttons\n\nUse `2x2` size for buttons with icon and text on the screenshot"},{"id":"76c43b1d.86294c","type":"ping","z":"5c530ae1.da2e1c","protocol":"IPv4","mode":"triggered","name":"Github","host":"github.com","timer":"10","inputs":1,"x":770,"y":280,"wires":[["39915bb8.822954"]]},{"id":"39915bb8.822954","type":"ui_gauge","z":"5c530ae1.da2e1c","name":"Time","group":"6eaf2e4.74faa5","order":2,"width":"6","height":"6","gtype":"donut","title":"Github","label":"ms","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"80","className":"","x":930,"y":280,"wires":[]},{"id":"9ffb72ac.0897d8","type":"inject","z":"5c530ae1.da2e1c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":380,"wires":[["919f3b95.9359f8","7fceb81d.63b2d","b96fe872.6e1058"]]},{"id":"51a6dce0.968d24","type":"ui_text","z":"5c530ae1.da2e1c","group":"599c623c.d9691c","order":3,"width":0,"height":0,"name":"","label":"Last updated: ","format":"{{msg.payload}}","layout":"row-right","className":"","x":800,"y":380,"wires":[]},{"id":"b96fe872.6e1058","type":"function","z":"5c530ae1.da2e1c","name":"","func":"function addZero(i) {\n  if (i < 10) {i = \"0\" + i}\n  return i;\n}\n\nconst now = new Date(msg.payload);\nmsg.payload = addZero(now.getHours()) + \":\" + addZero(now.getMinutes()) + \":\" + addZero(now.getSeconds());\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":380,"wires":[["51a6dce0.968d24"]]},{"id":"6eaf2e4.74faa5","type":"ui_group","name":"Ping Time","tab":"1ad2c89c.16309f","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"599c623c.d9691c","type":"ui_group","name":"Internet Speed","tab":"1ad2c89c.16309f","order":2,"disp":true,"width":"12","collapse":false,"className":""},{"id":"12812d7a.ff80d3","type":"ui_group","name":"Default","tab":"e63bce2d.68925","order":5,"disp":true,"width":"6","collapse":true},{"id":"1ad2c89c.16309f","type":"ui_tab","name":"Network","icon":"dashboard","disabled":false,"hidden":false},{"id":"e63bce2d.68925","type":"ui_tab","name":"Denon","icon":"dashboard","order":2,"disabled":false,"hidden":false}]